<!DOCTYPE html>
<html>
<head>
  <title>Hansel</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", "templates/admin_panel" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
